<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nmefc.grid_monitor_service.mapper.UserMapper">

    <select id="getInfo" parameterType="String" resultType="com.nmefc.grid_monitor_service.bean.UserBean">
        SELECT * FROM user WHERE name = #{arg0} AND password = #{arg1}
    </select>

</mapper>